body { width:100%;  font-size:14px; font-family:  Trebuchet MS,Trebuchet,Arial,Helvetica,sans-serif; color:rgb(10,10,10);min-width: 960px; margin: 0 auto;}
body { background-color: rgb(250,250,250);}
#main { width:970px; margin:0 auto; /*border:1px solid black;*/}
#footer { text-align:center;}
#wrap {background: url("/images/sebuah_permainan2.jpg") no-repeat scroll center top transparent ; padding-top:50px;} 

	#header-wrapper { margin-bottom:217px;}
	#video-wrapper{ width: 800px; margin: 0 auto; text-align:center; margin-bottom:30px;}
	
	#creator{ width:960px; margin: 0 auto; border:1px solid #e6e6e6; padding: 20px 0; background-color:white;  margin-bottom: 10px;}
	#creator { -moz-border-radius: 20px; -webkit-border-radius:20px;}
	#creator a.name { display:block; margin-bottom:10px; text-decoration: none; font-size: 18px;}
	#creator p.profile { margin-bottom : 30px; height:140px;}
	#creator h3 { font-size: 22px; margin-bottom:10px; padding: 10px 0; text-decoration: underline;}
	#creator h3 span.audioteam { background-color: blue;}
	#creator h3 span.videoteam { background-color: red;}
	#creator a.pic-band-wrapper {  display:block; float:right; margin-left:15px;}	
	#creator a.pic-video-wrapper {  display:block; float:left; margin-right:15px;}	
	#creator cite { position: relative; top: 10px; line-height:18px; font-family: Verdana;}
	
		#audio { text-align:right; width:46.5%; float: left; }
		#video { text-align:left; width:46.5%; float: right ; }
