<div id="video-wrapper" >
	<%= render :partial => "video" %>
</div> <!-- end of video-wrapper -->

<div id="creator" class="clearfix">
	<div id="audio">
		<h3><span class="audioteam">Spatula</span> : Audio Team</h3>
		<p class="profile clearfix">
			<a href="http://www.facebook.com/ticoalu" class="name">Alvarez Ticoalu</a>
			
		
				<a href="http://www.facebook.com/ticoalu" class="pic-band-wrapper">
					<img src="/images/alvarez_test1.jpg" />
				</a>
				<cite>
					Alvarez Octorian Jefferson Ticoalu is the guitarist of SPATULA. He is a medicine student, a practicing photographer, and an aspiring musician.
				</cite>

		
		</p>
		
		<p class="profile clearfix">
			<a href="http://www.facebook.com/profile.php?id=1457262649" class="name">Jerry Elyesser </a>
			<a href="http://www.facebook.com/profile.php?id=1457262649" class="pic-band-wrapper">
				<img src="/images/jerry.jpg" />
			</a>
			<cite>
				Working as a bank officer in one of the largest state bank does not turn him into a boring person. He is filled with beats that  make any music sound colourful and energetic as himself
			</cite>
		</p>
		
		<p class="profile clearfix">
			<a href="http://www.facebook.com/jenss.michael" class="name">Jens Purba</a>
			<a href="http://www.facebook.com/jenss.michael" class="pic-band-wrapper">
				<img src="/images/jens.jpg" />
			</a>
			<cite>
				Jens Michael Purba, lead singer of SPATULA and DJ at Heartline radio station, has a really unique
				sound color with an amazing vocal range.
			</cite>
		</p>
		
		<p class="profile clearfix">
			<a href="http://www.facebook.com/profile.php?id=734564245" class="name">Oliver Zesti</a>
			<a href="http://www.facebook.com/profile.php?id=734564245" class="pic-band-wrapper">
				<img src="/images/zesti.jpg" />
			</a>
			<cite>
				Oliver Zesti Manuhutu, legal officer by day and bassist of SPATULA by night, creates an excellent ambient with his bass guitar despite of not having a formal music education.
			</cite>
		</p>
		
		
		<p class="profile clearfix">
			<a href="http://www.facebook.com/profile.php?id=595272920" class="name">Ryan Novianus</a>
			<a href="http://www.facebook.com/profile.php?id=595272920" class="pic-band-wrapper">
				<img src="/images/ryan.jpg" />
			</a>
			<cite>
				 Ryan Novianus is the percussionists of SPATULA. His groove results in bright sound to the music that can makes us dance.
			</cite>
		</p>
		
		
		<p class="profile clearfix">
			<a href="http://www.facebook.com/joshua.hendinata" class="name">Joshua Hendinata</a>
			<a href="http://www.facebook.com/joshua.hendinata" class="pic-band-wrapper">
				<img src="/images/joshua.jpg" />
			</a>
			<cite>
				 Joshua Hendinata is the keyboardist and the synthesist of SPATULA. 
			</cite>
		</p>
		
	</div>
	
	
	
	<div id="video">
		<h3>Video Team : <span class="videoteam">UmaretaFilm</span></h3>
		
		<p class="profile">
			<a href="http://www.facebook.com/umareta" class="name">Danny Widodo</a>
			<a href="http://www.facebook.com/umareta" class="pic-video-wrapper">
				<img src="/images/dani.jpg" />
			</a>
			
			<cite>
				UMARETA FILM is headed by Danny Widodo all by himself, with the help and collaboration of many friends, mostly from NUS and Eusoff Hall, who support his ideas and to turn them into moving images.
			</cite>
		</p>
		
		<p class="profile">
			<a href="http://www.facebook.com/inka.yohanda" class="name">Inka Yohanda</a>
			<a href="http://www.facebook.com/inka.yohanda" class="pic-video-wrapper">
				<img src="/images/inka.jpg" />
			</a>
			
			<cite>
				Inka Yohanda currently attends NUS Business School. A talented individual, she excels in dancing and singing. 
			</cite>
		</p>
		
		<p class="profile">
			<a href="http://www.facebook.com/joioux.tan" class="name">Indra Perwira</a>
			<a href="http://www.facebook.com/joioux.tan" class="pic-video-wrapper">
				<img src="/images/indra.jpg" />
			</a>
			
			<cite>
				Indra Perwira is a talented singer and musician who is currently studying Computing at NUS. 
			</cite>
		</p>
		
		<p class="profile">
			<a href="http://www.facebook.com/rendyliwang" class="name">Rendy Liwang</a>
			<a href="http://www.facebook.com/rendyliwang" class="pic-video-wrapper">
				<img src="/images/rendy.jpg" />
			</a>
			
			<cite>
				Rendy Liwang is a Mathematics major at NUS. Playing with words is his specialty.
			</cite>
		</p>
		
		
	</div>
</div>

 <fb:comments style="margin-left:150px;"></fb:comments>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: 'your app id', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>