<div id="video-wrapper" >
	<%= render :partial => "video" %>
</div> <!-- end of video-wrapper -->

<div id="creator" class="clearfix">
	<div id="audio">
		<h3><span class="audioteam">Spatula</span> : Audio Team</h3>
		<p class="profile clearfix">
			<a href="http://www.facebook.com/ticoalu" class="name">Alvarez Ticoalu</a>
			
		
				<a href="http://www.facebook.com/ticoalu" class="pic-band-wrapper">
					<img src="/images/alvarez_test1.jpg" />
				</a>
				<cite>
					Alvarez Octorian Jefferson Ticoalu is the guitarist of SPATULA.	He is a multi-talented individual studying medicine, a practicing photographer, and an aspiring musician.
				</cite>

		
		</p>
		
		<p class="profile clearfix">
			<a href="http://www.facebook.com/profile.php?id=1457262649" class="name">Jerry Elyesser </a>
			<a href="http://www.facebook.com/profile.php?id=1457262649" class="pic-band-wrapper">
				<img src="/images/jerry.jpg" />
			</a>
			<cite>
				Working as a bank officer in one of the largest state bank does not turn him into a boring person. He is filled with beats that  make any music sound colourful and energetic as himself
			</cite>
		</p>
		
		<p class="profile clearfix">
			<a href="http://www.facebook.com/jenss.michael" class="name">Jens Purba</a>
			<a href="http://www.facebook.com/jenss.michael" class="pic-band-wrapper">
				<img src="/images/jens.jpg" />
			</a>
			<cite>
				Jens Michael Purba, lead singer of SPATULA and DJ at Heartline radio station, has a really unique
				sound color with an amazing vocal range.
			</cite>
		</p>
		
	</div>
	
	<div id="video">
		<h3>Video Team : <span class="videoteam">UmaretaFilm</span></h3>
		<p class="profile">
			<a href="http://www.facebook.com/inka.yohanda" class="name">Inka Yohanda</a>
			<a href="http://www.facebook.com/inka.yohanda" class="pic-video-wrapper">
				<img src="/images/inka.jpg" />
			</a>
			
			<cite>
				Inka Yohanda currently attends NUS Business School. A talented individual, she excels in dancing and singing. 
			</cite>
		</p>
		
		<p class="profile">
			<a href="http://www.facebook.com/joioux.tan" class="name">Indra Perwira</a>
			<a href="http://www.facebook.com/joioux.tan" class="pic-video-wrapper">
				<img src="/images/indra.jpg" />
			</a>
			
			<cite>
				Indra Perwira is a talented singer and musician who is currently studying Computing at NUS. 
			</cite>
		</p>
		
		<p class="profile">
			<a href="http://www.facebook.com/rendyliwang" class="name">Rendy Liwang</a>
			<a href="http://www.facebook.com/rendyliwang" class="pic-video-wrapper">
				<img src="/images/rendy.jpg" />
			</a>
			
			<cite>
				Rendy Liwang is a Mathematics major at NUS. Playing with words is his specialty.
			</cite>
		</p>
		
		
	</div>
</div>

 <fb:comments style="margin-left:150px;"></fb:comments>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: 'your app id', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>