<div id="video-wrapper" >
	<%= render :partial => "video" %>
</div> <!-- end of video-wrapper -->

<div id="creator" class="clearfix">
	<div id="audio">
		<h3><span class="audioteam">Spatula</span> : Audio Team</h3>
		<p class="profile clearfix">
			<a href="http://www.facebook.com/ticoalu" class="name">Alvarez Ticoalu</a>
			
		
				<a href="http://www.facebook.com/ticoalu" class="pic-band-wrapper">
					<img src="/images/alvarez_test1.jpg" />
				</a>
				<cite>
					John Winston Ono Lennon, MBE (9 October  8 December 1980) was an English singer-songwriter who rose to worldwide fame as one of the founding members of The Beatles.
				</cite>

		
		</p>
		
		<p class="profile clearfix">
			<a href="http://www.facebook.com/profile.php?id=1457262649" class="name">Jerry Elyesser </a>
			<a href="http://www.facebook.com/profile.php?id=1457262649" class="pic-band-wrapper">
				<img src="/images/jerry.jpg" />
			</a>
			<cite>
				Sir James Paul McCartney, MBE (born 18 June 1942) is an English musician, singer-songwriter and composer. Formerly of The Beatles (1960–1970) and Wings (1971–1981).
			</cite>
		</p>
		
		<p class="profile clearfix">
			<a href="http://www.facebook.com/jenss.michael" class="name">Jens Purba</a>
			<a href="http://www.facebook.com/jenss.michael" class="pic-band-wrapper">
				<img src="/images/jens.jpg" />
			</a>
		</p>
		
	</div>
	
	<div id="video">
		<h3>Video Team : <span class="videoteam">UmaretaFilm</span></h3>
		<p class="profile">
			<a href="http://www.facebook.com/inka.yohanda" class="name">Inka Yohanda</a>
			<a href="http://www.facebook.com/inka.yohanda" class="pic-video-wrapper">
				<img src="/images/inka.jpg" />
			</a>
			
			<cite>
				Maria Yuryevna Sharapova is a former World No. 1 Russian professional tennis player of Belarusian origin. Sharapova has won 22 WTA singles titles, 3 WTA doubles titles and 3 Grand Slam singles titles. 
			</cite>
		</p>
		
		<p class="profile">
			<a href="http://www.facebook.com/joioux.tan" class="name">Indra Perwira</a>
			<a href="http://www.facebook.com/joioux.tan">
				<img src="/images/indra.jpg" />
			</a>
			
			<cite>
			</cite>
		</p>
		
		<p class="profile">
			<a href="http://www.facebook.com/rendyliwang" class="name">Rendy Liwang</a>
			<a href="http://www.facebook.com/rendyliwang">
				<img src="/images/rendy.jpg" />
			</a>
			
			<cite>
			</cite>
		</p>
		
		
	</div>
</div>

 <fb:comments style="margin-left:150px;"></fb:comments>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: 'your app id', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>