<div id="video-wrapper" >
	<%= render :partial => "video" %>
</div> <!-- end of video-wrapper -->

<div id="creator" class="clearfix">
	<div id="audio">
		<p class="profile">
			<a href="http://www.facebook.com/ticoalu" class="name">Alvarez Ticoalu</a>
			<a href="http://www.facebook.com/ticoalu">
				<img src="/images/alvarez_test1.jpg" />
			</a>
		</p>
		
		<p class="profile">
			<a href="http://www.facebook.com/profile.php?id=1457262649" class="name">Jerry Elyesser </a>
			<a href="http://www.facebook.com/profile.php?id=1457262649">
				<img src="/images/jerry.jpg" />
			</a>
		</p>
		
		<p class="profile">
			<a href="http://www.facebook.com/jenss.michael" class="name">Jens Purba</a>
			<a href="http://www.facebook.com/jenss.michael">
				<img src="/images/jens.jpg" />
			</a>
		</p>
		
	</div>
	
	<div id="video">
		<p class="profile">
			<a href="http://www.facebook.com/inka.yohanda" class="name">Inka Yohanda</a>
			<a href="http://www.facebook.com/inka.yohanda">
				<img src="/images/inka.jpg" />
			</a>
			
			<cite>
			</cite>
		</p>
		
		<p class="profile">
			<a href="http://www.facebook.com/joioux.tan" class="name">Indra Perwira</a>
			<a href="http://www.facebook.com/joioux.tan">
				<img src="/images/indra.jpg" />
			</a>
			
			<cite>
			</cite>
		</p>
		
		<p class="profile">
			<a href="http://www.facebook.com/rendyliwang" class="name">Rendy Liwang</a>
			<a href="http://www.facebook.com/rendyliwang">
				<img src="/images/rendy.jpg" />
			</a>
			
			<cite>
			</cite>
		</p>
		
		
	</div>
</div>