<div id="header-wrapper">
	<div id="header" class="clearfix">
		<!-- <h1>Logo Spatula</h1> -->
		<!-- <span class="limiter">|</span> -->
		
		<ul class='navigation-main clearfix'>
			<li>
				<!-- Register -->
			</li>
			
			<li>
				<!-- Login -->
			</li>
		</ul>
		
	</div> <!-- EO div#header -->
</div> <!-- EO div#header-wrapper -->